# To retrieve the data from Database

# Creating a Connection

In [46]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\mnnis\anaconda3\lib\site-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\mnnis\anaconda3\lib\site-packages (from pymongo) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
from pymongo import MongoClient
import pandas as pd

connection_string = "mongodb+srv://team_mate:Team_123@cluster0.pylr4.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

client = MongoClient(connection_string)

db = client["retail_database"]  
collection = db["sales_data"]  

# Retrieve all documents from the collection
data = list(collection.find())

# Convert to Pandas DataFrame
retail_data = pd.DataFrame(data)

# Display the first few rows
print(retail_data.head())

# Optional: Drop the MongoDB-specific '_id' column
retail_data = retail_data.drop(columns=["_id"], errors="ignore")
print("DataFrame ready for analysis!")

                        _id Product  Sales Region InvoiceNo StockCode  \
0  674c2c5a750858359cc423f2       A  100.0  North       NaN       NaN
1  674c2c5a750858359cc423f3       B  200.0  South       NaN       NaN
2  674c2c5a750858359cc423f4       C  300.0   East       NaN       NaN
3  674c2c99750858359cc423f6     NaN    NaN    NaN    536365    85123A
4  674c2c99750858359cc423f7     NaN    NaN    NaN    536365     71053

                          Description  Quantity         InvoiceDate  \
0                                 NaN       NaN                 NaT
1                                 NaN       NaN                 NaT
2                                 NaN       NaN                 NaT
3  WHITE HANGING HEART T-LIGHT HOLDER       6.0 2010-12-01 08:26:00
4                 WHITE METAL LANTERN       6.0 2010-12-01 08:26:00

   UnitPrice CustomerID         Country    Month
0        NaN        NaN             NaN      NaN
1        NaN        NaN             NaN      NaN
2        NaN        NaN             NaN      NaN
3       2.55    17850.0  United Kingdom  2010-12
4       3.39    17850.0  United Kingdom  2010-12
DataFrame ready for analysis!

## Removing Unnecessay cells and columns

In [44]:
retail_data = retail_data.drop(columns=['Product', 'Sales', 'Region'], errors='ignore')
retail_data = retail_data.iloc[3:]
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month
6,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12
7,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12
8,536365,22752,SET 7 BABUSHKA NESTING BOXES,2.0,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,2010-12
9,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6.0,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,2010-12
10,536366,22633,HAND WARMER UNION JACK,6.0,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,2010-12